---
layout: default
---

<script src="https://unpkg.com/scrollnav@3.0.1/dist/scrollnav.min.umd.js"></script>

<scritp>
  const ct = document.querySelector('.post__article');
  scrollnav.init(ct, {
    debug: false,
    easingStyle: 'linear',
    sections: ($('.post__article > h1').length>0) ? 'h3' : 'h4',
  });
</scritp>

<article class="post__article">
  {% include meta.html post=page %}

  {{ content }}
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}

</article>
